
#progress_bar {
	margin: 10px 0;
	padding: 3px;
	border: 1px solid #000;
	font-size: 14px;
	clear: both;
	opacity: 0;
	-moz-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	-webkit-transition: opacity 1s linear;
}

#progress_bar.loading {
	opacity: 1.0;
}

#progress_bar .percent {
	background-color: #99ccff;
	height: auto;
	width: 0;
}

.label, .label-default{
	    margin-left: 5%!important;
	    
}

.font-size{
	font-size: 40%!important;
}

/*
.file-content-div{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-style: dashed;
	border-color: #26A69A;
}
*/

.file-upload-div{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/*
.content{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.header{
    text-align: center;
}

.espacamento{
	margin: 5%;
	//margin-left:auto;
	//margin-right: auto;
}

.center {
	margin-left:auto;
	margin-right: auto;
}
*/
.ocultar-div{
	display: none;
}

.flash-fail{
    background-color: #EA9090;
}
.flash-success{
	background-color: #26A69A;
}
/*

.centralize{
    margin-left: 40%;
}
*/

.codeLine:hover{
    background-color: #B1D4BD;
}

.line-hover:hover { 
    background-color: #B1D4BD;
}

td{
    color: black;
}
